# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]

# Machine Learning models (huge files)
*.pickle
*.joblib

# Environments
venv/
.env
